{% extends 'base.html' %}

{% block js %}
<script type="text/javascript">
    // 根据数量计算总价
    function calc_total(num, price){
        var total = (num*price).toFixed(2);
        $('.total em').html(total);
    }

    $(function(){
        // 添加商品数量
        $('.add').click(function(){
            var num = parseInt($('.num_show').val());
            var price = parseFloat($('.show_pirze em').html());
            var count = num;
            if(num <= 99){
                count += 1;
                $('.num_show').val(count);
            };

            calc_total(count, price);
        });

        // 减少商品数量
        $('.minus').click(function(){
            var num = parseInt($('.num_show').val());
            var price = parseFloat($('.show_pirze em').html());
            var count = num;
            if(num >1){
                count -= 1;
                $('.num_show').val(count);
            };

            calc_total(count, price);
        });

        // 计算购物车中的商品数量
        $.get('/cart/cart_count/', function(data){
            $('.goods_count').html(data.count);
        });

        // 手动添加商品数量
        $('.num_show').blur(function(){
            var price = parseFloat($('.show_pirze em').html());
            var re_test = /\d{1,2}/;
            var num = $('.num_show').val();
            var count = 0;

            if(re_test.test(num)){
                if(num <= 99) {
                    $('.num_show').val(num);
                    count = parseInt(num);
                }
                else{
                    $('.num_show').val(1);
                    count = 1;
                }
            }
            else{
                $('.num_show').val(1);
                count = 1;
            };

            calc_total(count, price);
        })
    })
</script>
{% endblock js %}

{% block detail %}
<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods/index/">全部分类</a>
		<span>></span>
		<a href="/goods/list{{ good_detail.gtype_id }}/">{{ good_type.ttitle }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ good_detail.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ good_detail.gtitle }}</h3>
			<p>{{ good_detail.gjianjie|safe }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ good_detail.gprice }}</em></span>
				<span class="show_unit">单  位：{{ good_detail.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em>{{ good_detail.gprice }}</em>元</div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new in new_list %}
                        <li>
                            <a href="/goods/detail{{ new.gtype_id }}/{{ new.id }}/"><img src="/static/{{ new.gpic }}"></a>
                            <h4><a href="/goods/detail{{ new.gtype_id }}/{{ new.id }}/">{{ new.gtitle }}</a></h4>
                            <div class="prize">￥{{ new.gprice }}</div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd> {{ good_detail.gcontent|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>
    <div class="add_jump"></div>

<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;


		$('#add_cart').click(function(){
		    var count = $('.num_show').val();
			$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'}).stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
					    var num = parseInt($('.num_show').val());
                        $.get('/cart/add/',{'gid':{{ good_detail.id }}, 'num': num}, function(data){
                            $('#show_count').html(data.count);
                        });
					});

			});
		})
	</script>


{% endblock detail %}