{% extends 'base_foot.html' %}

{% block title%}
	<title>天天生鲜-用户中心</title>
{% endblock title%}

{% block js%}
  <script type="text/javascript">
  	$(function(){
  		current_path = window.location.pathname;

  		$('.left_menu_con a').each(function(){
  			$(this).removeAttr('class');
  		});

  		if(current_path == '/user/user_center_site/')
  		{
  			$('.left_menu_con a').eq(2).prop('class','active');
  		}
  		else if(current_path == '/user/user_center_info/')
  		{
  			$('.left_menu_con a').eq(0).prop('class','active');
  		}
  		else if(current_path == '/user/user_center_site_handle/')
  		{
  			$('.left_menu_con a').eq(2).prop('class','active');
  		}
  		else
  		{
  			$('.left_menu_con a').eq(1).prop('class','active');
  		};

        // 计算购物车中的商品数量
        $.get('/cart/cart_count/', function(data){
            $('.goods_count').html(data.count);
        });
  	})
  </script>
{% endblock js%}

{% block head%}
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
			{%if request.session.user_name|default:'' != ''%}
				<div class="login_btn fl">
					欢迎您：<em>{{request.session.user_name}}</em>
					<span>|</span>
					<a href="/user/logout">退出</a>
				</div>
			{%else%}
				<div class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
			{%endif%}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/user_center_info/">用户中心</a>
					<span>|</span>
					<a href="/cart/display/">我的购物车</a>
					<span>|</span>
					<a href="/user/user_center_order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>
{% endblock head%}

{% block search%}
	<div class="search_bar clearfix">
		<a href="/goods/index/" class="logo fl"><img src="/static/images/logo.png"></a>
		{% if page_num == 1 %}
            <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</div>
            <div class="search_con fr">
                <input type="text" class="input_text fl" name="" placeholder="搜索商品">
                <input type="button" class="input_btn fr" name="" value="搜索">
            </div>
        {% else %}
            <div class="search_con fl">
                <input type="text" class="input_text fl" name="" placeholder="搜索商品">
                <input type="button" class="input_btn fr" name="" value="搜索">
            </div>
            <div class="guest_cart fr">
                <a href="/cart/display/" class="cart_name fl">我的购物车</a>
                <div class="goods_count fl" id="show_count">0</div>
            </div>
        {% endif %}
	</div>
{% endblock search%}